.wrapper {
  margin-top: 100px;
}
.card {
  width: 500px;
  margin: auto;
}

.instructions__image {
  display: block;
  margin: auto;
  width: 300px;
}

.instructions__title, .instructions__subtitle {
  text-align: center;
}

.instructions__start {
  float: right;
}

.attribute, .question__time-remaining {
  display: inline-table;
  width: 30%;
}

.question-text {
  font-size: 20px;
}
.question__time-remaining {
  text-align: center;
}
.attribute__image {
  width: 100%;
}

.attribute__header {
  font-size: 15px;
}
.question__slider {
  width: 100%;
  margin-top: 65px;
}
