<div class="instructions card">
  <h1 class="instructions__title">Happiness Excercise</h1>
  <div class="instructions__subtitle">We want to understand what makes you happy</div>
  <img class="instructions__image" src="happy.png" alt="instructions logo" width= 300/>
  {{#link-to 'questions.show' 'home' class="instructions__start"}}Start{{/link-to}}
</div>

